<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<!-- 指定LOG4J输出日志 -->
		<setting name="logImpl" value="LOG4J"/>
		
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	<!--定义包的别名  -->
    <typeAliases>
      <package name="com.hwb.pojo"/>
    </typeAliases>
    
    <!--数据库连接信息  --> 
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://39.105.172.23:3306/hwb?characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment> 
    </environments>
    
    <mappers>
    	<!--用文件路径引入映射器  -->    
        <mapper resource="com.hwb.mapper/UserMapper.xml"/>
        <mapper resource="com.hwb.mapper/RoleMapper.xml"/>
        <mapper resource="com.hwb.mapper/UserRoleMapper.xml"/>
        <mapper resource="com.hwb.mapper/PrivilegeMapper.xml"/>
        <mapper resource="com.hwb.mapper/RolePrivilegeMapper.xml"/>  
    </mappers>
    
</configuration>